body {
    /*font-family: "Lucida Grande"; just allow helvetica from bootstrap */
    font-family: "Helvetica Neue";/* specifiy, otherwise we inherit from bootstrap! */
    /*font-size: 50px;*/
    /* width: 350px; */
    /* was 960 before mobile testing, 350 after. need a basic media query here*/
    margin: 0 auto;
    padding: 5px;
    /*
    auto margin is important, this is what centers the body on a larger screen
    margin-left: 5px;
    margin-right: 5px;
    */
}

@media screen and (max-width: 768px) {
    body {
      width: 90%;
    }
    #bookMetadataRight {
      /* no margin or padding, take full width */
    }
    #searchBox {
      width: 90%;
    }
}

@media screen and (min-width: 768px) {
    body {
      width: 50%;
    }
    #bookMetadataRight {
        margin-left: 35%;
        padding-left: 50px;
    }
    .bookCoverImage {
      float: left;
    }
    #searchBox {
      width: 70%;
    }
}

@media screen and (max-width: 400px) {
    #topBooks {
      width: 95%;
    }
}

@media screen and (min-width: 400px) and (max-width: 1400px) {
    #topBooks {
      width: 90%;
    }
}

@media screen and (min-width: 1400px) {
    #topBooks {
      width: 70%;
    }
}

.centeredText {
    text-align: center;
    clear: both;
}
.socialIcon {
    width: 100px;
    height: 100px;
}
.updatedDate {
    text-align: center;
}
#promoText {
    text-align: justify;
    clear: both;
}

#LoadingImage {
    display: block;
    margin: 0 auto;
}

#myDropdown {
    cursor: pointer;
}

#closeButton {
    background: none;
    border: none;
}

#search {
    font-family: inherit;
    font-size: 14px;
    width: 100%;
}

#searchBox {
    /* width: 50%; */
    margin: 0 auto;
    font-family: inherit; /* we don't want to let jquery ui change this */
}

#footerRule {
  width: 50%;
  border-color: black;
}

#loginOrName {
    position: absolute;
    right: 0px;
    /*float: right; could be useful for keeping it within the body?*/
    font-size: small;
    font-style: italic;
    color: mediumblue;
}

#topBooks {
    /* width: 50%; */
    /* needs to be much greater on mobile, more like 90% */
    margin: 0 auto;
    border-style: solid;
    border-width: thin;
    border-color: #07c;
    margin-top: 50px;
}

#bookBox {
    /*width: 50%;*/
    margin: 0 auto;
}

#bookMetadata {
    /*overflow:auto; *//* needed to auto grow the div to match the size of the floated image within it */
    /* display: flex; */
    padding-top: 15px;
    /* padding-left: 80px; */ /* to match width of voting column, just looks neater! */
}

#bookMetadataLeft {
    /* needs a hardcoded max size, because some small images will result in right-hand text being truncated.
       this sort of works, but not all of the time - needs more testing FIXME */
    /*min-height: 350px;*/
}

/*
#bookMetadataRight {
    margin-left: 35%;
    padding-left: 50px;
    position: relative; // just so that I can bottom align the purchase button
}
*/

#bookTitle {
  /* text-align: justify; */
}

#purchaseBook {
    position: absolute;
    bottom: 0;
}

#summaryInput {
    /* its already in a 50% div!
    width: 50%;*/
    margin: 0 auto;
}

#SummaryTextArea {
    font-size: 16px;
    width: 100%; /* why was this 98%, any reason? */
    height: 200px;
    /* text areas come with an extra 6px! 2 padding and 1 border on either side, so 100% will breach your design - is this still true? */
}

#summaryTable {
    width: 100%;
    /* table-layout: fixed; */ /* auto calculating cell widths that I want to specify! */
}

#summaryTable tr > td {
    white-space: pre-wrap; /* critical for respecting new lines in the summaries */
    font-size: x-large;
    font-weight: 200;
    text-align: justify;
}

.summaryRow td {
  padding-top: 50px;
  padding-bottom: 10px;
}

.footerRow td {
  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

#summaryAuthor {
    text-align: right;
    font-weight: lighter;
    padding-top: 20px;
}

#siteHeaderBox {
    /* width: 60%; */
    margin: 0 auto;
}
#siteIcon {
    float: left;
    width: 50px;
}
#siteHeader {
    font-family: "Garamond";
    letter-spacing: 5px;
    /* N/A when not using an image/icon, but we need a center align instead */
    /*float; right;*/
    text-align: center;
}
#siteHeaderLink {
  color: black;
}

input, textarea, select, h1, h2{font-family:inherit;}

#voteCount {
    text-align: center;
    margin: auto;
}

.tweetCell {
  width: 10%;
}

.voteCell {
  width: 5%;
}

.authorCell {
  width: 85%;
}

#tweetSynopsis {
  height: 18px; /* total hack! */
}

/*
.votecell {
    width: 10%;
    padding-top: 15px;
}
.postcell {
    width: 90%;
}
*/

.vote {
    text-align: center;
}
.vote-up-off {
    height: 30px;
    width: 40px;
    display: block;
    margin: 0 auto;
    background-image: url("../images/sprites.svg");
    background-position: 0 -170px;
    background-repeat: no-repeat;
    overflow: hidden;
    ext-indent: -9999em;
    cursor: pointer;
    /*font-size: 1px;
    'text-align: center;*/
}

.vote-down-off {
    height: 30px;
    width: 40px;
    display: block;
    margin: 0 auto;
    background-image: url("../images/sprites.svg");
    background-position: 0 -220px;
    background-repeat: no-repeat;
    overflow: hidden;
    ext-indent: -9999em;
    cursor: pointer;
}

.star-off {
    height: 30px;
    width: 40px;
    display: block;
    margin: 0 auto;
    background-image: url("../images/sprites.svg");
    background-position: 0 -120px;
    background-repeat: no-repeat;
    overflow: hidden;
    ext-indent: -9999em;
    cursor: pointer;
}

a {
  color: #07c;
  text-decoration: none;
}

.bookCoverImage {
    width: 234px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/* Modal box or Popup box */
.popupContainer {
    height: auto;
    /*position:absolute;
	width:330px;
	left:45%;
	top:80px;
	background: #FFF;*/
}

/*
 having problems with autocomplete input width
 http://stackoverflow.com/questions/5643767/jquery-ui-autocomplete-width-not-set-correctly
 a lot of this is ignored, more work needed to figure out what is actually having the desired affect, possibly the margin!?
 */
.ui-menu {
    width: 200px;
    margin-bottom: 2em;
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
    font-size: 15px;
    font-style: normal;
}
.ui-menu .ui-menu-item:hover {
    display: block;
    text-decoration: none;
    font-weight: normal;
    color: #3D3D3D;
    cursor: pointer;
    background-color: lightblue;
    background-image: none;
    border: 1px solid lightgray;
}
.ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-focus {
    border: 1px solid lightgray;
    background-image: none;
    background-color: lightblue;
    font-weight: normal;
    color: #3D3D3D;
}
footer {
    /*position: absolute;
    left: 0;
    bottom: 0;*/
    height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.footerTextLink {
  padding-right: 30px;
  padding-left: 30px;
}
