body {
    font-family: "Lucida Grande";
    /*font-size: 50px;*/
    width: 350px; /* was 960 before mobile testing */
    margin: 0 auto;
    padding: 5px;
    /*
    auto margin is important, this is what centers the body on a larger screen
    margin-left: 5px;
    margin-right: 5px;
    */
}

.centeredText {
    text-align: center;
}

#search {
    width: 100%;
}

#searchBox {
    width: 250px;
    margin: 0 auto;
}

#bookBox {
    /*width: 50%;*/
    margin: 0 auto;
}

#bookMetadata {
    /*display:inline-block;
    padding-left:10px;*/
    margin-left: 50%; /* was 150px, but really just want it to be half of the parent */
}

#summaryInput {
    /* its already in a 50% div!
    width: 50%;*/
    margin: 0 auto;
}

#SummaryTextArea {
    font-size: 16px;
    width: 98%;
    /* text areas come with an extra 6px! 2 padding and 1 border on either side, so 100% will breach your design */
}

input, textarea, select, h1, h2{font-family:inherit;}

/*
#authBox {
    width: 250px;
    margin: 0 auto;
}
*/

#voteCount {
    text-align: center;
    margin: auto;
}

.vote-up-off {
    height: 30px;
    width: 40px;
    display: block;
    margin: 0 auto;
    background-image: url("../images/sprites.svg");
    background-position: 0 -170px;
    background-repeat: no-repeat;
    overflow: hidden;
    ext-indent: -9999em;
    cursor: pointer;
    /*font-size: 1px;
    'text-align: center;*/
}

.vote-down-off {
    height: 30px;
    width: 40px;
    display: block;
    margin: 0 auto;
    background-image: url("../images/sprites.svg");
    background-position: 0 -220px;
    background-repeat: no-repeat;
    overflow: hidden;
    ext-indent: -9999em;
    cursor: pointer;
}

.star-off {
    height: 30px;
    width: 40px;
    display: block;
    margin: 0 auto;
    background-image: url("../images/sprites.svg");
    background-position: 0 -120px;
    background-repeat: no-repeat;
    overflow: hidden;
    ext-indent: -9999em;
    cursor: pointer;
}

a {
  color: #07c;
  text-decoration: none;
}

.bookCoverImage {
    float: left;
    width: 100px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/* Modal box or Popup box */
.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}